body {
    background-image: url('./casino_background.jpg'); /* Wenn .avif nicht funktioniert, konvertiere es zu .jpg oder .png */
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
}

header {
    padding: 1em;
    background-color: rgba(0,0,0,0.7);
}

nav#game-nav ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow-y: scroll;
}

nav#game-nav ul li {
    margin: 0.5em 0;
    padding: 0.5em;
}

nav#game-nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 220px; /* Passt den Abstand an, um das feste Navigationsmenü zu berücksichtigen */
}

#diceJack {
    width: 300px;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
}
