body {
    background-image: src('./casino background.avif'); /* Hier den Pfad zu Ihrem Hintergrundbild setzen */
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 1em;
    background-color: rgba(0,0,0,0.7);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0.5em 0;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5em;
    text-align: center;
}

#diceJack {
    width: 300px;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 1em;
    text-align: center;
}

button {
    display: block;
    margin: 0.5em 0;
}
